<div class="row">
	<form class="form-inline" [formGroup]="entryForm" novalidate (ngSubmit)="onCreate()">

	    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
	           formControlName="project">

	    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
	        <input type="text" class="form-control"
	               formControlName="remarks">
	    </div>

		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<input type="text" class="form-control datetime"
			formControlName="duration">
		</div>

		<div class="input-group mb-2 mr-sm-2 mb-sm-0">
			<input class="form-control" formControlName="date"
			       ngbDatepicker #d="ngbDatepicker">

			<button class="input-group-addon" (click)="d.toggle()" type="button">
				<img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
			</button>
		</div>

		<button type="submit" class="btn btn-primary">Create</button>
	</form>
</div>

<app-worklog-detail *ngFor="let entry of entries" [entry]="entry"></app-worklog-detail>
