<form class="form-inline" [formGroup]="entryForm" novalidate (ngSubmit)="onUpdate()">

    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0"
           formControlName="project">

    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control"
               formControlName="remarks">
    </div>

	<div class="input-group mb-2 mr-sm-2 mb-sm-0">
		<input type="text" class="form-control datetime"
		formControlName="duration">
	</div>

	<div class="input-group mb-2 mr-sm-2 mb-sm-0">
		<input type="text" class="form-control datetime"
		formControlName="date">
	</div>

    <div class="form-check mb-2 mr-sm-2 mb-sm-0">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"
                   formControlName="lateLog"> Late log
        </label>
    </div>

    <button type="submit" class="btn btn-warning">Update</button>
    <button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
</form>
